.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  margin: 10px;
}
.tabs .tab a {
  color: rgb(185, 117, 117);
}
.tabs .tab a:hover {
  color:rgb(190, 74, 74);
  cursor: pointer;
}
.tabs .tab a:focus.active {
  color:rgb(190, 74, 74);
  background-color: #eeeeee;
}
.tabs .tab a.active {
  color:rgb(190, 74, 74);
  background-color: #eeeeee;;
}
.tabs .indicator {
  background-color: rgb(190, 74, 74);
  color:rgb(190, 74, 74);
}
.subheader {
  margin-left: 5%; 
  font-size: 20px; 
}
.subheader:hover {
  cursor: pointer;
  color: green;
}

.linkA{
  margin-left: 5%;
  color: black;
}
.linkA:hover {
  cursor: pointer;
  color: green;
}
