.grid-container {
  display: grid;
  grid-template-columns: 33.3vw 33.3vw 33.3vw;
}

.grid-item {
  margin: 0 8px;
  text-align: left;
}

.tabs .tab a {
  color: rgb(185, 117, 117);
}
.tabs .tab a:hover {
  color:rgb(190, 74, 74);
  cursor: pointer;
}
.tabs .tab a:focus.active {
  color:rgb(190, 74, 74);
  background-color: #eeeeee;
}
.tabs .tab a.active {
  color:rgb(190, 74, 74);
  background-color: #eeeeee;;
}
.tabs .indicator {
  background-color: rgb(190, 74, 74);
  color:rgb(190, 74, 74);
}
.subheader {
  margin-left: 5%; 
  font-size: 20px; 
}
.subheader:hover {
  cursor: pointer;
  color: green;
}

.linkA{
  margin-left: 5%;
  color: black;
}
.linkA:hover {
  cursor: pointer;
  color: green;
}
.tabFontSize{
  font-size: 24px;
}
.titleS{
  color: black;
}
.titleS:hover {
  cursor: pointer;
  color: green;
}
@media (max-width:1300px) {
  .grid-container {
    display: grid;
    grid-template-columns: 49.8vw 49.8vw;
  }
  .tabFontSize{
    font-size: 18px;
  }
}
@media (max-width:800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 99.8%;
  }
  .tabFontSize{
    font-size: 10px;
  }
}